@import "../../styles/variable";

.header {
  width: 100%;
}

.header__top-bar {
  height: 60px;
  background-color: var(--primary-color);
}

.header__top-bar-container {
  max-width: $container-width;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.header__top-bar-content {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.header__top-bar-text {
  color: var(--text-color);
  font-size: 16px;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 5px;
}

.header__top-bar-btn {
  width: 170px;
  height: 40px;
  font-family: var(--font-inter);
  color: var(--primary-color);
  font-size: 16px;
  font-weight: 500;
  border-radius: 10px;
  outline: none;
  border: none;
  cursor: pointer;
  transition: $transition;

  &:hover {
    background-color: #d3d3d3;
  }
}

.header__container {
  max-width: $container-width;
  height: 90px;
  margin: 0 auto;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.header__container-logo {
  width: 189px;
}

.header__container-list {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header__container-nav {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header__container-nav-list {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.header__container-nav-item {
  list-style-type: none;
}

.header__container-nav-link {
  font-family: var(--font-montserrat);
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
  color: #000000;
  text-transform: uppercase;
  transition: $transition;

  &:hover {
    color: var(--primary-color);
  }
}

.header__container-info {
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.header__container-info-item {
  font-family: var(--font-inter);
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
  color: #000000;
  transition: $transition;
  text-transform: uppercase;

  &:hover {
    color: var(--primary-color);
  }
}

.header__mobile-container {
  position: fixed;
  top: 100px;
  left: 0;
  right: 0;
  width: 100%;
  display: none;
  background-color: var(--text-color);
  flex-direction: column;
}

.header__mobile-nav {
  padding: 20px;
}

.header__mobile-nav-list {
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.header__mobile-nav-item {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__mobile-nav-link {
  font-family: var(--font-montserrat);
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0%;
  text-decoration: none;
  color: #000000;
  text-transform: uppercase;
}

.mobile-arrow {
  width: 42px;
  height: 20px;
  border-radius: 30px;
  border: 1px solid var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: var(--primary-color);
}

.header__mobile-icon {
  display: none;
  width: 45px;
  height: 35px;
  background-color: var(--primary-color);
  color: var(--text-color);
  border-radius: 3px;
  align-items: center;
  justify-content: center;
  outline: none;
  border: none;
  cursor: pointer;
}

.header__mobile-info {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.header__mobile-info-item {
  font-family: var(--font-inter);
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0%;
  vertical-align: middle;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

@media (max-width: 1024px) {
  .header__top-bar-text {
    font-size: 14px;
  }

  .header__container {
    padding: 10px 20px;
  }

  .header__container-nav-link,
  .header__container-info-item {
    font-size: 13px;
  }
}

@media (max-width: 900px) {
  .header__top-bar-text {
    font-size: 12px;
  }

  .header__top-bar-btn {
    width: 120px;
    height: 30px;
    font-size: 12px;
  }
}

@media (max-width: 768px) {
  .header__top-bar {
    display: none;
  }

  .header__mobile-container {
    display: flex;
  }

  .header__mobile-icon {
    display: block;
  }

  .header__container-list {
    display: none;
  }
}

@media (max-width: 480px) {
  .header__top-bar {
    height: auto;
  }

  .header__top-bar-text {
    font-size: 13px;
  }

  .header__top-bar-btn {
    width: 100%;
  }

  .header__container-logo {
    width: 130px;
  }

  .header__container-nav-link,
  .header__container-info-item {
    font-size: 12px;
  }

  .header__container {
    padding: 10px;
  }
}
