@import "../../styles/variable";

.services {
  max-width: $container-width;
  margin: 80px auto;
  padding: 0 20px;
  width: 100%;
  box-sizing: border-box;

  &__department {
    margin-bottom: 50px;
  }
}

.department {
  display: flex;
  flex-direction: column;
  gap: 17px;

  &__pre-heading {
    color: var(--primary-color);
    font-size: 20px;
    font-weight: 500;
  }

  &__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    flex-wrap: wrap;
  }

  &__heading {
    font-size: 48px;
    font-weight: 700;
    color: #000000;
    line-height: 52px;
    max-width: 600px;
  }

  &__text {
    font-size: 1rem;
    color: #7a7a7a;
    margin-bottom: 20px;
    max-width: 450px;
  }

  &__button {
    width: 217px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    color: var(--text-color);
    font-family: var(--font-heebo);
    font-weight: 500;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: $transition;

    &:hover {
      background-color: var(--text-color);
      color: var(--primary-color);
      border: 1px solid var(--primary-color);
    }
  }
}

.services__cards-container {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 88px;
}

.card {
  flex: 1 1 calc(33.333% - 20px);
  min-width: 300px;
  height: 310px;
  border-radius: 10px;
  box-shadow: 0px 10px 10px 0px #00000026;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  position: relative;
  background-color: #fff;
  transition: all 0.3s ease;

  &:hover {
    transform: translateY(-5px);
  }

  &__icon {
    position: absolute;
    width: 70px;
    height: 70px;
    background-color: var(--primary-color);
    color: var(--text-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    top: -40px;
    left: 32px;
  }

  &__content {
    padding: 0 32px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 13px;
  }

  &__title {
    font-weight: 700;
    font-size: 25px;
    line-height: 27.5px;
  }

  &__description {
    font-family: var(--font-heebo);
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #333333;
  }

  &__link {
    display: flex;
    align-items: center;
    gap: 5px;
    text-decoration: none;
    color: var(--primary-color);
  }
}

@media (max-width: 1200px) {
  .department__heading {
    font-size: 40px;
    line-height: 46px;
  }

  .card {
    flex: 1 1 calc(50% - 20px);
  }
}

@media (max-width: 992px) {
  .department__info {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }

  .department__heading {
    font-size: 36px;
    line-height: 42px;
  }

  .department__text {
    max-width: 100%;
  }

  .services__cards-container {
    justify-content: center;
  }

  .card {
    flex: 1 1 calc(50% - 15px);
    height: 200px !important;
    padding: 20px 0;
  }
}

@media (max-width: 768px) {
  .services__cards-container {
    gap: 75px;
  }
  .services {
    padding: 0 15px;
  }

  .department__pre-heading {
    font-size: 18px;
  }

  .department__heading {
    font-size: 28px;
  }

  .department__text {
    font-size: 14px;
  }

  .department__button {
    width: 180px;
    height: 45px;
    font-size: 14px;
  }

  .card {
    height: 200px !important;
  }

  .card__title {
    font-size: 22px;
  }

  .card__description {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .services__cards-container {
    gap: 75px;
  }
  .department__pre-heading {
    font-size: 16px;
  }

  .department__heading {
    font-size: 24px;
  }

  .department__text {
    font-size: 14px;
    font-weight: 700;
  }

  .department__button {
    font-size: 14px;
  }

  .card {
    width: 326px !important;
    height: 298px !important;
    min-width: unset;
    padding: 15px;
  }

  .card__icon {
    position: absolute;
    width: 60px;
    height: 60px;
    top: -20px !important;
  }

  .card__title {
    font-size: 17px !important;
  }

  .card__description {
    font-size: 14px;
  }
}
